@model int

@{
    ViewBag.Title = "Locuri indisponibile ";
}

<section class="text-center">
    <h2 class="full-room"> Locuri indisponibile</h2>
    <p class="full-room-p"> Ne pare rau, dar pentru intervalul orar selectat nu mai sunt locuri disponibile. </p>
    <a asp-action="Details" asp-controller="Movies" asp-route-id="@Model" class="btn btn-light text-center">
        Inapoi la programul orar
    </a>
</section>

<style>
    p {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        letter-spacing: 0.05em;
    }
    body {
        color: #505355;
        font-family: Nunito,sans-serif;
    }
    .btn-light {
        color: #212529;
        background-color: #f8f9fa;
        border-color: #999b9d;
    }
</style>
