@model CinemaApp.ViewModels.MovieGenreViewModel

@{
    ViewData["Title"] = "Edit";
}
    <head>
        <!-- Select2 -->
        <link rel="stylesheet" href="~/Select file/select2.min.css">
        <link rel="stylesheet" href="~/Select file/select2-bootstrap4.min.css">

    </head>


<h1>Actualizare</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label">Durata</label>
                <input asp-for="Duration" class="form-control" placeholder="Durata in minute" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreNames" class="control-label"> Genul </label>
                <select asp-for="GenreNames" class="select2" multiple="multiple" data-placeholder="Selecteaza un gen" asp-items="@(new SelectList(ViewBag.GenreNames))" style="width: 100%;">
                </select>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="Photo" class="control-label">Poza</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input asp-for="Photo" class="form-control custom-file-input" />
                            <label class="custom-file-label">Alege o fotografie...</label>
                        </div>
                    </div>
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!-- Select2 -->
<script src="~/Select file/select2.full.min.js" defer></script>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
                debugger;
            });
        });

        $(function () {
            //Initialize Select2 elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        })
    </script>
}

