

@{
    ViewBag.Title = "404 Error";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4> 404 Not Found Error :  </h4>
    <hr />
    <h5>
        Filmul nu a fost gasit
    </h5>
</div>
<a asp-action="index" asp-controller="Movies" class="btn btn-outline-success">
    Inapoi la lista cu filme
</a>